.coupon-container {
  display: flex;
  align-items: center;
  justify-content: flex-start; /* Align horizontally */
  gap: 10px; /* Space between input and button */
  margin: 16px 16px 0px 0px;
  width: 100%;
  box-sizing: border-box;
}

.coupon-input {
  padding: 8px 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  flex-grow: 1; /* Ensures the input takes up more space */
  outline: none;
}

.coupon-input:focus {
  border-color: black; /* Blue border on focus */
}

.apply-button {
  padding: 8px 8px;
  font-size: 16px;
  border: none;
  background-color: black;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.apply-button:hover {
  background-color: black;
}
