/* Main app layout */
.App {
  display: flex;
  flex-direction: column;
  height: auto;
  min-height: 100vh; /* Ensure the container takes the full height of the viewport */
}

.App-header {
  flex-shrink: 0;
}

.App-footer {
  flex-shrink: 0;
}

.App-main {
  flex: 1; /* Ensures the main content takes up available space */
  padding: 1rem; /* Add padding for better spacing */
  height: auto; /* Allow height to expand based on content */
  min-height: 0; /* Prevents the container from shrinking */
}

/* Scrollbar customization */
body {
  overflow: auto; /* Ensure that scrollbars appear when necessary */
}

::-webkit-scrollbar {
  width: 5px; /* Vertical scrollbar width */
  height: 5px; /* Horizontal scrollbar height */
}

::-webkit-scrollbar-thumb {
  background-color: black; /* Scrollbar thumb color */
  border-radius: 10px; /* Rounded corners */
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Track color */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Darker color on hover */
}

@media (max-width: 600px) {
  .menu-icon-container {
    justify-content: flex-end; /* Ensure alignment to the right */
  }
  .menu-icon {
    margin-right: 16px; /* Add space from the edge */
  }
}

@font-face {
  font-family: "merriweather";
  src: url("/public/fonts/merriweather-italic.woff") format("woff2");
  font-weight: normal;
  font-style: normal;
}
